/* Global styles for Contact Section */
.contacto-section {
    font-family: 'Poppins', sans-serif;
    padding: 50px 20px; /* Ajusta espacio arriba y abajo */
    background-color: #08090A;
    color: #23b6be;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px; /* Separación entre elementos dentro de la sección */
  }
  
  /* Title Styles */
  .contacto-section h2 {
    font-size: 76.8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200; /* Montserrat ExtraLight 200 */
    text-shadow: 0 0 10px rgba(35, 182, 190, 1), 0 0 15px rgba(35, 182, 190, 0.6);
  }
  
  .contacto-section h2:hover {
    color: #FF99B2; /* Cambio de color suave */
  }
  
  /* Form Styles */
  form {
    width: 100%;
    max-width: 600px; /* Limita el ancho del formulario */
    background-color: rgba(0, 0, 0, 0.3); /* Fondo semitransparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  /* Label and Input Styles */
  .formulario-label {
    font-size: 18px;
    color: #DA4167;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200; /* Montserrat ExtraLight 200 */
    
  }
  
  .formulario-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #1E1F21; /* Fondo oscuro */
    border: 1px solid #23b6be;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; /* Especificar el peso de la fuente Light 300 */

  }
  
  .formulario-control:focus {
    border-color: #FF99B2; /* Resalta el borde al hacer foco */
    outline: none;
  }
  
  
  /* Button Styles */
  .btn-contacto {
  background-color: #23b6be; /* Color de fondo */
  color: white;
  padding: 12px 16px; /* Tamaño del botón */
  border: none;
  border-radius: 50px; /* Hacemos el botón redondo */
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
  font-family: "Dancing Script", cursive;  /* Cambiar Corinthia por Dancing Script */
  font-weight: 400;  /* O cualquier peso que prefieras dentro de 400-700 */
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Añadimos transición para los efectos */
  }
  
  .btn-contacto:hover {
    background-color: #FF99B2; /* Color suave al pasar el ratón */
  }
  
  /* Responsive Adjustments */
  @media (max-width: 768px) {
    .contacto-section h2 {
      font-size: 48px; /* Reduce el tamaño del título en pantallas pequeñas */
    }
  
    .formulario-label {
      font-size: 16px;
    }
  
    .formulario-control {
      font-size: 14px;
    }
  
    .btn-contacto {
      font-size: 16px;
    }
  }
  