.educacion-section {
  font-family: 'Poppins', sans-serif;
  padding: 50px 20px;
  background-color: #08090A;
  color: #66D7D1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.educacion-section h2 {
  font-size: 5vw; /* Usar unidades relativas */
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: font-size 0.3s ease;
}

.educacion-section h2:hover {
  color: #FF99B2;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-line {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #DA4167;
  z-index: 0;
  transform: translateX(-50%);
}

.timeline-component {
  position: absolute;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  color: white;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.timeline-left, .timeline-right {
  left: 10%;/* acercarlo a la timeline */
  text-align: right;
  top: -15px; /* subir el hito */
}

.timeline-right {
  left: 50%;/* acercarlo a la timeline */
  text-align: left;
  top: 100px;/* subir el hito */
}

.timeline-left-2 {
  left: 10%;/* acercarlo a la timeline */
  text-align: right;
  top: 230px;/* subir el hito */
}

.timeline-right-2 {
  left: 50%;/* acercarlo a la timeline */
  text-align: left;
  top: 350px;/* subir el hito */
}

.timeline-middle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  z-index: 1;
}

.timeline-circle {
  width: 20px;
  height: 20px;
  background-color: #DA4167;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.timeline-circle:hover {
  transform: scale(1.3);
}

/* Activación de los componentes */
.timeline-component.active {
  opacity: 1;
  transform: translateY(0);
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .educacion-section {
    padding: 30px 15px;
  }

  .educacion-section h2 {
    font-size: 6vw; /* Ajuste el tamaño de fuente */
  }

  .timeline-component {
    width: 90%; /* Aumentar el tamaño en pantallas pequeñas */
    left: 5%;
  }

  .timeline-left, .timeline-right {
    position: relative;
    left: 0;
    top: auto;
    text-align: center;
  }

  .timeline-line {
    width: 1px;
  }

  .timeline-circle {
    width: 15px;
    height: 15px;
  }
}
