/* Global styles for Skills Section */
.skills-section {
    padding: 50px 20px; /* Ajusta espacio arriba y abajo */
    background-color: #08090A;
    color: #23b6be;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px; /* Separación entre elementos dentro de la sección */
  }
  
  /* Title Styles */
  .skills-section h2 {
    font-size: 76.8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200; /* Montserrat ExtraLight 200 */
    text-shadow: 0 0 10px rgba(35, 182, 190, 1), 0 0 15px rgba(35, 182, 190, 0.6);
    
  }
  
  .skills-section h2:hover {
    color: #FF99B2; /* Cambio de color suave */
  }
  
  /* Skills Grid Layout */
  .skills-grid {
    display: grid; /* Usamos grid layout */
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Ajusta columnas dinámicamente */
    gap: 60px; /* Espacio entre los elementos */
    width: 60%; /* Asegúrate de que ocupe todo el ancho del contenedor */
    justify-content: center; /* Centra los elementos si hay espacio sobrante */
    align-items: center; /* Alinea los elementos verticalmente */
  }
  
  /* Skill Card Styles */
  
  .skill-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Mayor espacio interno */
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3); /* Fondo semitransparente para mejor visibilidad */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Agrega profundidad */
    transition: transform 0.3s ease-in-out;
  }
  
  .skill-card:hover {
    transform: scale(1.05); /* Ligeramente más grande al pasar el ratón */
  }
  
  /* Icon Styling */
  .icon {
    font-size: 50px; /* Tamaño inicial */
    color: #DA4167; /* Color rosa */
    transition: color 0.3s ease; /* Suaviza el cambio de color */
  }
  
  .icon:hover {
    color: #FF99B2; /* Color más claro */
    filter: brightness(1.2); /* Más brillo */
  }
  
  .iconoGsap {
    width: 50px; /* Tamaño del logo */
    height: 50px;
    object-fit: contain; /* Asegura que el logo no se deforme */
    transition: transform 0.3s, filter 0.3s;
  }
  
  .iconoGsap:hover {
    transform: scale(1.2);
    filter: brightness(1.5) saturate(1.5); /* Aumenta el brillo y la saturación al pasar el ratón */
  }
  
  
  /* Typography for Skill Titles and Descriptions */
  h3 {
    
    margin-top: 10px;
    font-size: 20px;
    color: #23b6be; /* Blanco para contraste */
    font-family: 'Montserrat', sans-serif;
    font-weight: 200; /* Montserrat ExtraLight 200 */
  }
  
  h1 {
    font-size: 12px;
    color: #B0B0B0; /* Gris claro */
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; /* Especificar el peso de la fuente Light 300 */
    max-height: 4em;
    overflow: hidden;
  }
  p {
    font-size: 10px;
    color: #FF99B2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200; /* Montserrat ExtraLight 200 */
  }
  
  /* Responsive Adjustments */
  @media (max-width: 768px) {
    .skills-grid {
      grid-template-columns: repeat(auto-fit, minmax(90px, 1fr)); /* Reduce aún más el tamaño de las columnas */
      gap: 20px;
      width: 80%; /* Ocupa más espacio en pantallas pequeñas */
    }
  
    .skills-section h2 {
      font-size: 6vw; /* Título más pequeño */
    }
  
    .skills-grid {
      grid-template-columns: repeat(auto-fit, minmax(90px, 1fr)); /* Asegura que los iconos tengan suficiente espacio */
      gap: 15px;
    }
  
    .skill-card {
      padding: 15px; /* Menos padding en pantallas pequeñas */
    }
  
    .icon {
      font-size: 40px; /* Reduce el tamaño de los iconos */
    }
  }
  